requests
flask
gunicorn
gevent
werkzeug
sendgrid
faker
pytz
sqlalchemy
pyodbc
textrazor
openai
pypdf
docx2python
sentry_sdk
schedule

translatepy
pytest
coverage
requests-mock
pytest-watch
pytest-mock
psycopg2
boto3
